.footer {
    // position: sticky;
    // bottom: 0;
    // z-index: -1;
    height: 200px;
    background-image: url(images/footer-bg.png);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;    
}