.header{    
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    padding: 0 20px 64px;
    box-sizing: border-box;

      
}

.header__top{
    display: flex;
    justify-content: space-between;   

    &--logo{
        padding: 28px 0px;
    }

    &--call{
        padding: 24px 0px;
    }
    &--burger{
        padding: 24px  0px;
    }
}  

