.menu{
    background-color: #E8EFF9;
    padding: 0px 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__links{
        margin-bottom: 16px;
    }

    &__paragraph{
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        text-align: left;
        margin-bottom: 16px;
    }

    &__link-call{
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        text-align: left;
        color: #292929;
        text-transform: uppercase;
        border-bottom: 1px solid #292929;
        padding-bottom: 8px;
        text-decoration: none;

    }
}